<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: center;
        /* height: 100vh; */
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h2>Photos</h2>
      <!-- .text-end 將文字靠右 
           .text-start 將文字靠左
           .text-center 將文字置中
      -->
      <div class="text-end mb-3">
        <button type="button" class="btn btn-primary ps-4 pe-4 fs-3">
          <i class="fa-solid fa-file-circle-plus"></i>
        </button>
      </div>
      <table
        class="table table-hover table-striped table-bordered border-primary-subtle border border-4 text-center align-middle"
      >
        <thead>
          <tr>
            <th width="5%">id</th>
            <th width="20%">img_url</th>
            <th width="20%">desc</th>
            <th width="10%">operate</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info">
            <td>1</td>
            <td>
              <img
                src="https://picsum.photos/id/85/236/236"
                class="rounded-circle"
                alt=""
              />
            </td>
            <td class="text-start">
              <p>imgUrl:p1.png</p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
                nisi quibusdam, at numquam reprehenderit nostrum veritatis
                quaerat minus quod cupiditate.
              </p>
            </td>
            <td>
              <button type="button" class="btn btn-success me-3">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
          <tr class="table-info">
            <td>2</td>
            <td>
              <img
                src="https://picsum.photos/id/201/236/236"
                class="rounded-circle"
                alt=""
              />
            </td>
            <td class="text-start">
              <p>imgUrl:p1.png</p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
                nisi quibusdam, at numquam reprehenderit nostrum veritatis
                quaerat minus quod cupiditate.
              </p>
            </td>
            <td>
              <button type="button" class="btn btn-success me-3">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
          <tr class="table-info">
            <td>3</td>
            <td>
              <img
                src="https://picsum.photos/id/129/236/236"
                class="rounded-circle"
                alt=""
              />
            </td>
            <td class="text-start">
              <p>imgUrl:p1.png</p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
                nisi quibusdam, at numquam reprehenderit nostrum veritatis
                quaerat minus quod cupiditate.
              </p>
            </td>
            <td>
              <button type="button" class="btn btn-success me-3">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
          <tr class="table-info">
            <td>4</td>
            <td>
              <img
                src="https://picsum.photos/id/53/236/236"
                class="rounded-circle"
                alt=""
              />
            </td>
            <td class="text-start">
              <p>imgUrl:p1.png</p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
                nisi quibusdam, at numquam reprehenderit nostrum veritatis
                quaerat minus quod cupiditate.
              </p>
            </td>
            <td>
              <button type="button" class="btn btn-success me-3">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
